<div class="row justify-content-center">

    <div class="col-3 py-1">
        <div class="card w-100 h-100">            
            <a class="stretched-link" asp-action="DevBuglist" asp-controller="Home"></a> 
            <img src="~/img/pexels_dev.jpg" class="card-img-top" alt="DEV">
                <div class="card-body text-center">
                    <h5 class="card-title text-info">Dev-Area</h5>
                    <p class="card-text">Bugliste einsehen</p>
                </div>
            </div>
        </div>

    <div class="col-3 py-1">
        <div class="card w-100 h-100">
            <a class="stretched-link" asp-action="Index" asp-controller="Bugs"></a>
            <img src="~/img/pexels_admin.jpg" class="card-img-top" alt="Admin-Area">
            <div class="card-body text-center">
                <h5 class="card-title text-danger">Admin-Area</h5>
                <p class="card-text">Vollzugriff</p>                
            </div>
        </div>
    </div>

    <div class="col-3 py-1">
        <div class="card w-100 h-100">
            <a class="stretched-link" asp-action="TesterCreate" asp-controller="Home"></a>
            <img src="~/img/pexels_tester.jpg" class="card-img-top" alt="Tester-Area">
            <div class="card-body text-center">
                <h5 class="card-title text-success">Tester-Area</h5>
                <p class="card-text">Neuen Bug melden</p>               
            </div>
        </div>
    </div>

</div>

