@model BugTracker.Model.Database.MitarbeiterProjekt

@{
    ViewData["Title"] = "Edit";
}

@{
    Layout = "/Views/Admin/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin">Home</a></li>
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="MitarbeiterProjekts">Organisation</a></li>
                        <li class="breadcrumb-item active">Editieren</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <div class="card card-primary" style="width: 100%">
                    <div class="card-header">
                        <h3 class="card-title">Zuordnung bearbeiten</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="MitarbeiterProjektId" />
                            <div class="form-group">
                                <label asp-for="MitarbeiterId" class="control-label">Mitarbeiter</label>
                                <select asp-for="MitarbeiterId" class="form-control" asp-items="ViewBag.MitarbeiterId"></select>
                                <span asp-validation-for="MitarbeiterId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProjektId" class="control-label">Projektname</label>
                                <select asp-for="ProjektId" class="form-control" asp-items="ViewBag.ProjektId"></select>
                                <span asp-validation-for="ProjektId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </section>
    <!-- right col -->
</div>
<!-- /.row (main row) -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
